<ion-header>
  <ion-toolbar>
    <ion-title>Detalles Digimons</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="digimons"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="items"  >
    <ion-card>
        <ion-card-content>
          <img src="{{items.img}}"/>
          <ion-card-title>
           {{items.name}}
            </ion-card-title>
          <p>
           {{items.level}}
          </p>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
